#newRow {
  width: 3.5ch; height: 3.5ch;
  border-radius: 1.75ch;
  font-family: sans-serif;
  font-size: 4ch;
  position: fixed;bottom:8px;right:8px;
  background-color: #babaff;color:#222222;
  border-color:#8787cc;
}
